#resultsForm {
    border-radius: 5px;
}

input#opponentName,
input#myTeam,
input#opponentTeam,
input#myGoals,
input#opponentGoals,
textarea#notes {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 60px;
    color: white;
}

#resultsForm form .form-control {
    border-radius: 5px;
}

#asterisk {
    color: red;
}

#resultsFormSubmitButton {
    border-radius: 5px;
}

#opponentNameFormRow,
#notesFormRow {
    justify-content: center;
}

#addResultForm {
    text-align: center;
}
