#player1Component {
    grid-area: player1;
}

#player2Component {
    grid-area: player2;
}

#filtersComponent {
    grid-area: filters;
}

#generatorsDiv {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: "player1 player2";
    grid-template-rows: 80% 20%;
    grid-gap: 10px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 5px;
}

#jumbotron {
    border-radius: 0 0 5px 5px;
}

#welcomeText {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#jumbotronContainer ol {
    text-align: center;
    list-style-position: inside;
}

@media screen and (max-width: 767px) {
    #welcomeText {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 380px) {
    #welcomeText {
        font-size: 2.35rem;
    }
}
