#generatorsDiv {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 5px;
}

#jumbotron {
    border-radius: 0 0 5px 5px;
}

#welcomeText {
    text-align: center;
}

#jumbotronContainer ol {
    text-align: center;
    list-style-position: inside;
}
