#navbarTogglerDemo01 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#logoutButton {
    border-radius: 5px;
}

#hamburgerButton {
    border-radius: 5px;
}

@media screen and (max-width: 319px) {
    #headerBrand {
        font-size: 1rem;
    }

    #guestLinks {
        font-size: 0.8rem;
    }
}
