#navbarTogglerDemo01 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

#headerBrand {
    color: darkorchid;
}

#headerBrand:hover {
    text-shadow: 0 10px 20px rgb(0 0 0 / 20%), 0 4px 8px rgb(0 0 0 / 10%);
}

#logoutButton {
    border-radius: 5px;
}

#hamburgerButton {
    border-radius: 5px;
}

@media screen and (max-width: 319px) {
    #headerBrand {
        font-size: 1rem;
    }

    #guestLinks {
        font-size: 0.8rem;
    }
}
