#playerOneDiv {
    text-align: center;
    border-radius: 5px;
    background: transparent;
    border: none;
}

#nationOneButton,
#leagueOneButton,
#teamOneButton {
    width: 400px;
    display: block;
    margin: 20px auto 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}

#nationOneButton:hover,
#leagueOneButton:hover,
#teamOneButton:hover {
    background: rgba(0, 0, 0, 0.3);
}

#nationOneButton h1 {
    font-size: 2rem;
}

#leagueOneButton h1 {
    font-size: 2rem;
}

#teamOneButton h1 {
    font-size: 2rem;
}

#teamOneButton {
    height: 300px;
}

#player1h1 {
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 991px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 220px;
    }

    #nationOneButton h1 {
        font-size: 1.4rem;
    }

    #leagueOneButton h1 {
        font-size: 1.4rem;
    }

    #teamOneButton h1 {
        font-size: 1.4rem;
    }

    #teamOneButton {
        height: 200px;
    }
}

@media screen and (max-width: 533px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 200px;
    }

    #nationOneButton h1 {
        font-size: 1.2rem;
    }

    #leagueOneButton h1 {
        font-size: 1.2rem;
    }

    #teamOneButton h1 {
        font-size: 1.2rem;
    }

    #teamOneButton {
        height: 200px;
    }
}

@media screen and (max-width: 459px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 150px;
    }

    #nationOneButton h1 {
        font-size: 1.1rem;
    }

    #leagueOneButton h1 {
        font-size: 1.1rem;
    }

    #teamOneButton h1 {
        font-size: 1.1rem;
    }

    #teamOneButton {
        height: 175px;
    }
}

@media screen and (max-width: 380px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 140px;
    }

    #nationOneButton h1 {
        font-size: 0.9rem;
    }

    #leagueOneButton h1 {
        font-size: 0.9rem;
    }

    #teamOneButton h1 {
        font-size: 0.9rem;
    }

    #teamOneButton {
        height: 150px;
    }
}

@media screen and (max-width: 330px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 130px;
    }
}

@media screen and (max-width: 307px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 120px;
    }
}

@media screen and (max-width: 285px) {
    #nationOneButton,
    #leagueOneButton,
    #teamOneButton {
        width: 115px;
    }
}
