#playerTwoDiv {
    text-align: center;
    border-radius: 5px;
    border: none;
    background: transparent;
}

#nationTwoButton,
#leagueTwoButton,
#teamTwoButton {
    width: 300px;
    display: block;
    margin: 20px auto 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}

#nationTwoButton h1 {
    font-size: 2rem;
}

#leagueTwoButton h1 {
    font-size: 2rem;
}

#teamTwoButton h1 {
    font-size: 2rem;
}

#teamTwoButton {
    height: 300px;
}

#player2h1 {
    font-size: 1rem;
    color: white;
}

@media screen and (max-width: 991px) {
    #nationTwoButton,
    #leagueTwoButton,
    #teamTwoButton {
        width: 240px;
    }
}

@media screen and (max-width: 767px) {
    #nationTwoButton,
    #leagueTwoButton,
    #teamTwoButton {
        width: 160px;
    }

    #nationTwoButton h1 {
        font-size: 1.4rem;
    }

    #leagueTwoButton h1 {
        font-size: 1.4rem;
    }

    #teamTwoButton h1 {
        font-size: 1.4rem;
    }

    #teamTwoButton {
        height: 200px;
    }
}

@media screen and (max-width: 459px) {
    #nationTwoButton,
    #leagueTwoButton,
    #teamTwoButton {
        width: 100px;
    }
}
