#playerTwoDiv {
    text-align: center;
}

#nationTwoButton,
#leagueTwoButton,
#teamTwoButton {
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
}

#teamTwoButton {
    height: 300px;
}
